.grillaGeneral {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
}
header {
	grid-area: header;
}
main {
	grid-area: main;
}
footer {
	grid-area: footer;
}