@media (max-width:800px){
    body{
        text-align: center;
    }
    .imgProductosDestacados{
        flex-direction: column;
        align-content: space-around;
    }
}
@media screen (max-whidt:576px) {
    .grillaGeneral {
        display: grid;
        grid-template-colums: repeat (1,1fr)
        grid-templeate-areas:
        "header"
        "main"
        "footer"
    }
}
/**media query 768px**/
@media screen (max-whidt:768px) {
    .grillaGeneral {
        display: grid;
        grid-template-colums: repeat (2,1fr)
        grid-templeate-areas:
        "header header"
        "main main"
        "footer footer"
    }
}