*{
    margin: 0;
    padding: 0;
}
// variables
$basecolor: #a97952;
//importaciones
@import "grid";
@import "footer";
@import "media";
@import "navbar";
//inicio css general
header{
    background-color: $basecolor;
}
/* barra de navegación de todos los html */
.navbar{
    background-color: $basecolor;
}
.collapse{
    background-color: $basecolor;
}
.container-fluid{
    background-color: $basecolor;
}
.d-flex{
    background-color: #a97952;
}
.dropdown-menu{
    background-color: #cfad91;
}
/* listas de barra de navegación de todos los html */
li {
    display: inline-flex;
}
/* texto antes de imagen de productos destacados en página de inicio */
.productosDestacados{
    margin: 0px 0px 10px 0px;
    padding: 30px;
    background-color: #DCD7C9;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}
img{
    border: 5px solid $basecolor;
}
/* imagen de productos destacados en página de inicio */
.imgProductosDestacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    background-color: #fbf8f0;
}
/* texto abajo de la imagen de productos destacados en página de inicio */
.descripcionProductosDestacados{
    padding: 40px;
    background-color: #DCD7C9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
}
/* texto sobre fondo con foto relacionado al proposito del empresario */
.nuestroProposito{
    margin: 10px 0px 10px 0px;
    padding: 40px;
    background-color: #ba9272;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #DCD7C9;
}
/* estilo de las fotos en el html galeria */
.galery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #DCD7C9;
}
.galery img{
    margin: 20px;
    width: 200px;
}
.galery div:hover{
    transform: scale(1.3);
    transition: all 1.5s;
}
.formContact{
    padding: 80px;
    background-color: #DCD7C9;
}
form{
    background-color: #DCD7C9;
    color: black;
}


