*{
    margin: 0;
    padding: 0;
}
// variables
$basecolor: #a97952;
//importaciones
@import "grid";
@import "footer";
@import "media";
@import "header";
@import "Index";
@import "galery";
@import "contact";
//inicio css general
main{
    grid-area: main;
    margin-top: 12rem;
}
//img generales
img{
    border: 5px solid $basecolor;
}








