/* estilo de las fotos en el html galeria */
.galery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: $thirdcolor;
    z-index: 3;
        img {
            margin: 20px;
            width: 200px;
        }
        div {
            &:hover {
                transform: scale(1.2);
                transition: all 1.3s;
            }
	}
}