/* estilo de las fotos en el html galeria */
.galery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #DCD7C9;
        img {
            @include margen
        }
        div {
            &:hover {
                transform: scale(1.3);
                transition: all 1.5s;
            }
	}
}