
/* Encabezado de todos los html */
header{
    grid-area: header;
    background-color: $basecolor;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
        .navbar-nav {
            li {
                display: inline-flex;
                a {
                    transition: all 0.5s ease;
                    &:hover {
                        background: $thirdcolor;
                        color: #000;
                        border-radius: 15px;
                    }
                }
            }
        }
        .navbar{
            background-color: $basecolor;
        }
        .collapse{
            @extend .navbar;
        }
        .container-fluid{
            @extend .navbar;
        }
        .d-flex{
            @extend .navbar;
        }
        .dropdown-menu{
            background-color: #cfad91;
        }
        
    }



