@media (max-width:768px) {
	body {
		text-align: center;
			.grillaGeneral {
				display: grid;
				grid-template-columns: repeat (2,1fr) grid-templeate-areas "header header" 
				"main main" 
				"footer footer";
			}
			.imgProductosDestacados {
				flex-direction: column;
				align-content: space-around;
			}
	}
}
